<article id="shareative_wrapper">
<!-- Image Wrapper -->
  <% if @shareative.shareative_type == 'image' %>
    <!-- Both Image Data Wrapper-->
    <div id="flip_wrapper" class="shareative_content" style="display: block;">
      <div class="abs_parent">
        <div id="flipper_container">
          <div id="flipper" class="flipper">
            <div id="flip_side_front" class="flip_side front abs_bg" style="background-image: url('<%= @shareative.shareative_url %>')">
            </div>
              <% if @shareative.side2_type == 'image' %>
                <div id="flip_side_back" class="flip_side back abs_bg" style="background-image: url('<%= @shareative.flip_shareative_url %>')"></div>
              <%else%>
                <div class="flip_side_back_data" id="flip_side_back">
                  <h1 style="border:1px solid grey;text-align:center;padding:8px;margin-top:2px;margin-bottom:6px">
                    <%= @shareative.name %>
                  </h1>
                  <p style="border:1px solid grey;text-align:center;font-style: normal;font-size:18px;padding: 8px;line-height: 28px;margin-top:6px;margin-bottom:6px;max-height: 200px;overflow-y:auto;color:#777;word-wrap:break-word">
                    <%= @shareative.side2_text_data %>
                  </p>
                  <div style="border:1px solid grey;text-align:center;font-size: 18px;padding: 8px;margin-top:2px;margin-bottom:6px">
                    <a href="<%= @shareative.side2_link_url %>" style="color:#de5e41;">
                      <%= @shareative.side2_link_text %>
                    </a>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    <!-- END-->
    <!-- Video Wrapper -->
  <%elsif @shareative.shareative_type == 'video' %>
    <!-- YouTube Data Wrapper-->
    <div id="video_wrapper" class="shareative_content" style="display: block;">
      <div class="abs_parent">
        <div id="video_banner" class="abs_bg">
          <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/<%= @shareative.video_id %>?autoplay=0&showinfo=0" frameborder="0" allowfullscreen>
        </div>
      </div>
    </div>
  <%end%>
  <div id="instruction"><span id="swipe-instruction">swipe to flip</span></div>
</article><!-- END-->
