<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
    <%= form_for(resource, :as => resource_name, :url => confirm_path,method: :put) do |f| %>
      <%= f.password_field :password, :autofocus => true,placeholder: 'Enter Password',class: error_class(resource,:password) %>
      <%= f.password_field :password_confirmation,:autofocus => true,placeholder: 'Enter Password again',class: error_class(resource,:password_confirmation) %>
      <%= f.hidden_field :confirmation_token %>
      <%= f.submit "Confirm account" , :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
    <% end %>
    <div id="changePasswordNotice" class="notice"><%= devise_error_messages! %></div>
    <!-- <div class="note">
      Once you have confirmed your account, you will be taken to the App Store to download Poaster for iPhone
    </div> -->
</div>
