<html>
  <head>
  </head>  
  <body>
    Hello <%= @user.email %> ,
    <br/>
    Thank you for confirming your Poaster account.Click <%= link_to 'here',ApiConfig.commandpoast_login %> to login and start adding content to your Poaster facades.
    <br/>
    <br/>
    If you have any further questions, please contact us.
    <br/>
    Thanks, <br/>
    Poaster Staff
  </body>
</html>