<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
  <%= flash[:error] %>
  <%= form_tag update_password_path ,method: :post do %>
    <%= password_field_tag 'password_options[password]',nil,placeholder: 'Password' %>
    <%= password_field_tag 'password_options[password_confirmation]',nil,placeholder: 'Password Confirmation' %>
    <%= hidden_field_tag :reset_password_token,params[:reset_password_token] %>
    <%= submit_tag 'Reset Password', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
  <%end%>
</div>