<div id="error">
  <%= flash[:error] %>
</div>
<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
  <%= form_tag send_password_instruction_path ,method: :post do %>
    <%= text_field_tag :email ,nil,:placeholder => "Email" %>
    <%= submit_tag 'Send Instructions', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
  <%end%>
</div>