<!-- <span class="formNote">Don't have an account? -->
<!-- <a href="#">Sign up</a>/<a href=" --><%#= ApiConfig.forgot_password_url %><!-- ">Forgot Password</a></span> -->

<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">

  <%= form_for(@user, url: logged_in_path,method: :post) do |f| %>
    <%= f.text_field :email, :placeholder => "Email" %>
    <%= f.password_field :password, :placeholder => "Password" %>
    <%= f.submit 'SIGN IN', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
  <% end %>

  <div id="forgotPassword" class="bottomLink">
    <%= link_to 'Forgot Password' , '/users/password/forgot' %>
  </div>
</div>