<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
  <%= flash[:error] %>
  <%= form_tag create_password_path ,method: :post do %>
    <%= password_field_tag 'password_options[old_password]' ,nil,:placeholder => "Old Password" %>
    <%= password_field_tag 'password_options[password]' ,nil,:placeholder => "New Password" %>
    <%= password_field_tag 'password_options[password_confirmation]' ,nil,:placeholder => "Confirm Password" %>
    <%= submit_tag 'Change Password', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
  <%end%>
</div>