<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.password_field :password, :autofocus => true ,placeholder: 'Enter New Password',class: error_class(resource,:password) %>
    <%= f.password_field :password_confirmation ,placeholder: 'Confirm Password',class: error_class(resource,:password_confirmation) %>
    <%= submit_tag 'Reset Password', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
  <%end%>
  <div id="forgotPassword" class="bottomLink">
    <%= link_to "Login", new_session_path(resource_name) %>
  </div>
  <div id="changePasswordNotice" class="notice"><%= devise_error_messages! %></div>
</div>