<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.text_field :email, :autofocus => true,placeholder: 'Email' ,class: error_class(resource,:email) %>
      <%= f.submit "Submit" , :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
    <% end %>
    <div id="forgotPassword" class="bottomLink">
      <%= link_to "Login", new_session_path(resource_name) %>
    </div>
    <div id="changePasswordNotice" class="notice"><%= devise_error_messages! %></div>
</div>
