<%#= current_user.poaster_instance_schema %>
<%#= current_user.as_json.inspect %>
<div id="main"></div>

<script type="text/javascript">
  _.templateSettings = {
    interpolate: /\{\{\=(.+?)\}\}/g,
    evaluate: /\{\{(.+?)\}\}/g
  };
</script>

<script type="text/template" id="facadesTemplate">
  <div id="container">
    <div id="shareative_view">
      <a id="sharing_menu_btn" class="btn btn-pos">Share</a>
      <a id="back_btn" class="btn btn-neut btn-back">Back</a>
      <article id="shareative_content">
        <article id="shareative_wrapper">
          <!-- Both Image Data Wrapper-->
          <div id="flip_wrapper" class="shareative_content">
            <div class="abs_parent">
              <div id="flipper_container">
                <div id="flipper" class="flipper">
                  <div id="flip_side_front" class="flip_side front abs_bg"></div>
                  <div id="flip_side_back" class="flip_side back abs_bg"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- END-->

          <!-- YouTube Data Wrapper-->
          <div id="video_wrapper" class="shareative_content">
            <div class="abs_parent">
              <div id="video_banner" class="abs_bg"></div>
            </div>
          </div><!--video_wrapper-->
          <!-- END-->
        <div id="instruction"></div>
        </article>
      </article>
    </div><!-- Shareative View -->

    <div id="sharing_view">
      <a id="sharing_menu_cancel_btn" class="btn btn-neg">Cancel</a>
      <div id="sharing_image"></div>
      <h1 id="sharing_title"></h1>
      <br>
      <div id="social_networks_buttons">
        <a id="facebook_btn" class="social_button facebook_active">facebook</a>
        <a id="twitter_btn" class="social_button twitter_active">twitter</a>
        <a id="linkedin_btn" class="social_button linkedin_active">linkedin</a>
        <!--<span id="google_plus_btn" class="social_button">googleplus</span>-->
        <a href="" id="email_btn" class="social_button">email</a>
      </div>
      <br>
      <br>
      <textarea id="sharing_message" placeholder="What's on your mind?"></textarea>
      <br>
      <span id="share_btn" class="btn btn-pos" data-before='Poasting...' data-after='Poast'>Poast</span>
    </div><!-- sharing_view -->
    <div id="poaster-cube-container">
      <div id="poaster-cube">
        {{ _.each(facades, function(facade){ }}
          <div class="facade" id="{{= facade.id }}">
            <span class="face_dimension"></span>
            <h1 class="title">{{= facade.name }}</h1>
            {{ _.each(facade.shareatives, function(shareative){ }}
            <div class="shareative" id="{{= shareative.id }}" data-type-title="{{= shareative.shareative_type }}">
              <div id="media-title" style="background-image: url({{= shareative.shareative.thumb }})">
                <h2 class="title">{{= shareative.name }}</h2>
              </div>
              
            </div>
            {{ }); }}
          </div><!-- facade -->
        {{ }); }}
      </div><!--poaster-cube-->
    </div><!--poaster-cube-container-->
    <div class="my-pagination"></div>
      <div id="sharing_confirmation_message">
      <h2>Boom!</h2>
      <h1>Poasted.</h1>
    </div>
  </div><!--#container-->
</script><!-- facadesTemplate -->

<script type="text/javascript">

  window.User = Backbone.Model.extend({
    url : '/poaster_instances/1'
  });

  window.Facades = Backbone.View.extend({
    el: '#main',
    initialize : function() {
      this.render();
    },
    events: {
      'tap #logo': 'reload',
      'tap .shareative': 'zoom',
      'tap #back_btn': 'headquarterView',
      'tap #sharing_menu_btn': 'sharingView',
      'tap #sharing_menu_cancel_btn': 'backToShareativeView',
      'tap #share_btn': 'sharingOnSocialNetwork',
      'tap #social_networks_buttons > a:not(#email_btn)': 'choosingNetwork'
    },
    miki:function(){
      return "VELIKI!";
    },

    render: function() {
      // Grabbing Statistics values and updating them
      Poasts('#totalPoasts h2', '#averagePoasts h2');

      deg = 0; // Resetting the degree
      var _this = this;
      var user = new User();
      user.fetch({
        success: function(attributes) {
          var template = _.template($('#facadesTemplate').html(), {facades: attributes.attributes.facades} );
          var facadesLen = attributes.attributes.facades.length; // no. of facades

          if ( !( facadesLen <= 2 ) ) {
            _this.$el.html(template);
            build_poaster();
            // switch (facadesLen) {
            //   case 3:
            //     helper('s3', 120);
            //     break;
            //   case 4:
            //     helper('s4', 90);
            //     break;
            //   case 5:
            //     helper('s5', 72);
            //     break;
            //   case 6:
            //     helper('s6', 60);
            //     break;
            //   case 7:
            //     helper('s7', 51);
            //     break;
            //   case 8:
            //     helper('s8', 45);
            //     break;
            //   case 9:
            //     helper('s9', 40);
            //     break;
            //   case 10:
            //     helper('s10', 36);
            //     break;
            //   case 11:
            //     helper('s11', 32.727272727);
            //     break;
            //   case 12:
            //     helper('s12', 30);
            //     break;
            // }

            $('.spinner').on("scrollstart",function(e){
              // alert('scrollstart');
              // e.preventDefault();
            });
          } // if end
          else {
            window.alert('Create more facades');
          }
        } // success callback
      }); // user.fetch
    },

    zoom: function(event) {
      var $currentTarget = $(event.currentTarget);

      // $currentTarget.find('#media-title').removeClass('tapped');
      // $currentTarget.find('#media-title').addClass('tapped');


      $('#flipper').css({ 'transform': 'rotateY(0deg)' }); // Resetting the degree of flipper
      var y = 0; // Resetting the value of the degree
      console.log('y value ', y);

      // Flip feature Obj
      var flipFeature = {
        flip_transform: function(y) {
          var $flipper = $("#flipper");
          $flipper.css({ 'transform': 'rotateY(' + y +'deg)' });
        },
        flip_right: function() {
          y+=180;
          this.flip_transform(y);
        },
        flip_left: function() {
          y-=180;
          this.flip_transform(y);
        },
        initialFlip: function() {
          $('#flipper').removeClass('rotate-full');
          setTimeout(function(){
            $('#flipper').addClass('rotate-full');
          }, 1000);
          setTimeout(function(){
            $('#flipper').removeClass('rotate-full');
          }, 2000);
        }
      }; // flipFeature

      flipFeature.initialFlip();

      // Swipe handlers
      $("#flipper_container").on("swiperight", function(){
        flipFeature.flip_right();
      });

      $("#flipper_container").on("swipeleft", function(){
        flipFeature.flip_left();
      });

      var windowWidth    = $(window).width(),
      windowHeight   = $(window).width(),
      shareativeView = $('#shareative_view');

      // Set up other views
      $('#shareative_view').show();

      $('#header, #poaster-cube-container').hide();

      var shareativeId       = $currentTarget.attr('id'),
      user               = new User(),
      shareativeBackData = '';

      $('#share_btn').attr('data-shareative-id', shareativeId);
      $('#sharing_menu_btn').attr('data-shareative-id', shareativeId);

      user.fetch({
        success: function(attributes) {
          var data = attributes.attributes.facades;
          _.each(data, function(item){
            _.each(item.shareatives, function(shareative){
              if ( shareativeId === shareative.id ) {
                $('#sharing_title').text(shareative.name); // Shareative Name
                $('#sharing_image').css({ backgroundImage: 'url(' + shareative.shareative.url +')' });
                if ( shareative.shareative_type === 'image' ) {
                  $('#instruction').html('<span id="swipe-instruction">swipe to flip</span>');
                  $('#flip_wrapper').show();
                  if ( shareative.shareative.side2.type === 'text' ) {
                    shareativeBackData += '<div class="flip_side_back_data">';
                    shareativeBackData += '<h1 style="border:1px solid grey;text-align:center;padding: 8px;margin-top:2px;margin-bottom:6px">' + shareative.name + '</h1>';
                    shareativeBackData += '<p style="border:1px solid grey;text-align:center;font-style: normal;font-size: 18px;padding: 8px;line-height: 28px;margin-top:6px;margin-bottom:6px;max-height: 150px;overflow-y:auto;word-wrap:break-word;">' + shareative.shareative.side2.data.side2_text_data + '</p>';
                    shareativeBackData += '<div style="border:1px solid grey;text-align:center;font-size: 18px;padding: 8px;margin-top:2px;margin-bottom:6px"> <a href="' + shareative.shareative.side2.data.side2_link_url + '" style="color:#de5e41;">' + shareative.shareative.side2.data.side2_link_text + '</a> </div>';
                    shareativeBackData += '</div>';
                    $('#flip_side_back').css({ backgroundImage: '' });
                    $('#flip_side_back').html(shareativeBackData);
                  } // if end
                  else {
                    $('#flip_side_back').find('.flip_side_back_data').remove(); // Removing data DOM nodes
                    $('#flip_side_back').css({ backgroundImage: 'url(' + shareative.shareative.side2.data.url +')' });
                  } // else end

                  $('#flip_side_front').css({ backgroundImage: 'url(' + shareative.shareative.url +')' });
                } // if end
                else {
                  $('#instruction').html('');
                  $('#video_wrapper').show();
                  $('#sharing_image').css({ backgroundImage: 'url(' + shareative.shareative.thumb +')' });
                  var url = shareative.shareative.url.substring(0, 40),
                  str = '<iframe width="'+ $('#video_banner').width() +'" height="'+ $('#video_banner').height() +'" src="'+ url +'?&rel=0&showinfo=0" frameborder="0"></iframe>';
                  $('#video_banner').html(str);
                } // else end
              } // Matching the ID
            }); // Each for Shareatives
          }); // Each for Facades
        } // success end
      }); // fetch end
    }, // zoom end

    headquarterView: function(event) {
      event.preventDefault();
      // Set up other views
      $('#shareative_view, #video_wrapper, #flip_wrapper').hide();
      $('#header, #poaster-cube-container').show();
      $('#video_banner').removeAttr('style').html('');
    }, // end headquarterView

    clearSelections: function() {
      $('#social_networks_buttons').children().removeClass('selected');
      $('#sharing_message').val('');
    }, // clearSelections end

    sharingView: function(event) {
      event.preventDefault();
      // UI
      $('#sharing_view').addClass('sharing_view_transition sharing_view_open');
      this.clearSelections();
      var _this = $(event.target);
      var url = '/poaster/shareative/'+ _this.attr('data-shareative-id') +'/email_content.json';
      console.log(url);
      $.ajax({
        url: url,
        method: 'GET',
      }).done(function(data) {
        console.log(data);
        function emailSetting (data) {
          emailUrl = 'mailto:?subject=' + data.subject + '&body=' + data.body + '%0D%0A%0D%0ARegards,%0D%0APoaster Team%0D%0Ainfo%40poaster.me';
          return emailUrl;
        } // emailSetting end
        $('#email_btn').attr('href', emailSetting(data));
      }); // done end
    },// end sharingView

    reload: function(event) {
      event.preventDefault();
      location.reload();
    },// end of reload

    backToShareativeView: function(event) {
      event.preventDefault();
      // CLEARING SELECTIONS
      this.clearSelections();
      $('#sharing_view').removeClass('sharing_view_open');
    },// end backToShareativeView

    sharingOnSocialNetwork: function(event) {
      event.preventDefault();
      var shareativeId = $(event.target).attr('data-shareative-id'),
      providersArr  = [];
      // Craeting array of selected networks
      $('#social_networks_buttons a').each(function(){
        if ( $(this).hasClass('selected') ) {
          providersArr.push($(this).text());
        }
      });

      if (providersArr.length === 0) {
        window.alert('Tap on the network icon to poast');
      }

      if ( shareativeId !== undefined && providersArr.length !== 0 ) {
        var messageToPost = $('#sharing_message').val(),
        dataObj = {
          providers: providersArr,
          message: messageToPost,
          shareative_id: shareativeId
        };
        console.log(dataObj);
        var self = $(event.currentTarget);
        $.ajax({
          url: '/share',
          method: 'POST',
          data: dataObj,
          beforeSend: function() {
            self.text(self.data('before'));
            self.removeAttr('class');
            self.attr('class','btn btn-neg');
            self.attr('disabled',true);
          } // end beforeSend
        }).done(function(data) {
          console.log(data);
          self.text(self.data('after'));
          self.removeAttr('class');
          self.attr('class','btn btn-pos');
          self.removeAttr('disabled');
          // Boom poaster UI transitions
          poasted ();
          // Finding the total no.of poasts by the user
          Poasts('#totalPoasts h2', '#averagePoasts h2');
        }); // ajax end
      }
    },// end sharingOnSocialNetwork

    choosingNetwork: function(event) {
      event.preventDefault();
      var _this = $(event.target);

      function checkAuthentication (dataObj) {
        var tappedNetwork = _this.text();
        for (var prop in dataObj) {
          if ( dataObj.hasOwnProperty(tappedNetwork) ) {
            _this.toggleClass('selected');
            return;
          }
          else{
            alert('Please authenticate from the profile view first');
            return;
          }
        }
      }
      // Informative authenticated Ajax service providers
      $.ajax({
        url: '/verify_social_accounts',
        method: 'GET',
      }).done(function(data) {
        console.log(data);
        checkAuthentication (data);
      });
    }
  });// end of backbone

  var facades = new Facades();
</script>