<div id="authentication" style='text-align:center'>
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
  <div style='margin-top:20px;'>
  <a href="https://itunes.apple.com/us/app/poaster/id895711397?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url('/assets/badge_appstore-lrg.svg') no-repeat;width:135px;height:40px;@media only screen{background-image:url('/assets/badge_appstore-lrg.svg'}"></a>
  </div>
</div>
