<html>
  <head>
  </head>  
  <body>
    <!-- for this to work we need to tell web-server not to respond to this image -->
    <!-- <img src="/logo/#{@share_id}/poaster.png" /> -->
    Hello Team,
    <br/>
    The following error was encountered by errorception on <%= @page %> Please see below for more details
    <br/>
    <br/>
    <%= @body.html_safe %>

    <br/>
    <br/>
    Regards,<br/>
    Poaster
  </body>
</html>    