<html>
  <head>
  </head>  
  <body>
    <!-- for this to work we need to tell web-server not to respond to this image -->
    <!-- <img src="/logo/#{@share_id}/poaster.png" /> -->
    <%= @body.html_safe %>
  </body>
</html>    