<div id="authentication">
  <img id="poaster_brand_auth" src="/assets/poaster_brand.svg">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.text_field :email, autofocus: true,placeholder: 'Email' ,class: error_class(resource,:email) %>
    <!-- <#%#= f.email_field :email, :placeholder => "Email" %> -->
    <%= f.password_field :password, placeholder: "Password" ,class: error_class(resource,:password) %>
    <%= f.submit 'SIGN IN', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
  <% end %>

  <div id="forgotPassword" class="bottomLink">
    <%= link_to "Forgot Password", new_password_path(resource_name) %>
  </div>

  <div id="changePasswordNotice" class="notice">
    <%= flash[:alert] || flash[:notice] %>
  </div>
</div>


