.box_sizing () {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.doNotSelectAnything () {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.opacity ( @opacityValue ) {
    @result: ( @opacityValue * 100 );
opacity: @opacityValue; //Modern browsers
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{result})"; //IE8
filter: alpha( opacity=@result ); /* IE 5-7 */
}

.textOverflow () {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    font-family: @centuryFontFamily;
    background-color: #f9f9f9;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #EEE;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FBFBFB), color-stop(100%, #E1E1E1));
    background: -webkit-linear-gradient(top, #FBFBFB, #E1E1E1);
    background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: linear-gradient(top, #fbfbfb, #e1e1e1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #D4D4D4;
    height: 30px;
    line-height: 20px;
    padding: 4px 20px;
    font-weight: 300;
    font-size: 14px;
    color: #666;
    text-shadow: 0 1px 1px #fff;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

.btn.btn-pos {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9DBF3B), color-stop(100%, #8CAC2E));
    background: -webkit-linear-gradient(top, #9DBF3B, #8CAC2E);
    background: -moz-linear-gradient(top, #9DBF3B, #8CAC2E);
    background: -o-linear-gradient(top, #9DBF3B, #8CAC2E);
    background: linear-gradient(top, #9DBF3B, #8CAC2E);
    background-color: #7DB500;
    border-color: #5A8200;
    color: #FFF;
    text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
.btn:active, 
.change-password:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #FFF;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px #FFF;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background-color: #eee;
    color: #fff;
}
.btn.btn-pos:hover {
    background-color: #7DB500;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #B5D45A), color-stop(100%, #8CAC2E));
    background: -webkit-linear-gradient(top, #B5D45A, #8CAC2E);
    background: -moz-linear-gradient(top, #B5D45A, #8CAC2E);
    background: -o-linear-gradient(top, #B5D45A, #8CAC2E);
    background: linear-gradient(top, #B5D45A, #8CAC2E);
}
.btn.btn-pos:active {
    background-color: #8CAC2E;
    color: #374F00;
}

.btn.btn-big { font-size: 17px; }