* { margin: 0; padding: 0; .box_sizing(); -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }
html, body { width: 100%; height: 100%; font-size: 100%; overflow: hidden; }
img, fieldset { border: none; }
img, object, embed, audio, video { display: block; max-width: 100%; }
ul, ol {list-style: none;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; float: none; font-size: 0; }
a { text-decoration: none; }
input[type="text"], input[type="password"], textarea { outline: none; width: 100%; border: none; }
table { border-collapse: collapse; border-spacing: 0; }