@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";

@font-face {
    font-family: 'century-gothic';
    src: url('fonts/gothicb.eot'); /* IE9 Compat Modes */
    src: url('fonts/gothicb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('fonts/gothicb.woff') format('woff'), /* Modern Browsers */
      url('fonts/gothicb.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('fonts/gothicb.svg#e8822cb86844068280e5784dfd42de7a') format('svg'); /* Legacy iOS */
      font-style: normal;
      font-weight: 700;
}

// @font-face {
//     font-family: 'century-gothic';
//     src: url('fonts/gothic.woff') format('woff'),
//          url('fonts/gothic.ttf')  format('truetype'),
//          url('fonts/gothic.svg#13db03934b676bad49f0835d401d12db') format('svg');
//         font-style: normal;
//         font-weight: 400;
// }

/*=================================================== BASIC RULES =========================================================*/
body {
    font-family: @centuryFontFamily;
    font-size: 100%;
    color: #090909;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

#header {
    top: 0;
    height: 45px;
    > .container {
        padding: 0 32px;
    }
}

#header,
#footer {
    background-color: @brandingColor;
    position: fixed;
    z-index: 2; // To bring the reload button on top. Old val 2
    width: 100%;
}

#footer {
    display: none;
    height: 30px;
    bottom: 0;
    text-align: center;
    z-index: 100;
    img {
        width: 25px;
        margin: 2px auto;
    }
}

#status-bar {
    display: none;
    height: 20px;
    background-color: @brandingColor;
}

#logo {
    float: left;
    margin-left: -22.25px;
    width: 60px;
    max-width: 100%;
    padding-top: 2px;
}

#reload {
    display:none;

    width: 30px;
    height: 30px;
    z-index: 100;
    position: fixed;
    left: 47%;
    top: 7px;
    text-indent: -9999px;
    background: url('/assets/reload.png') no-repeat 0 0;
    background-size: contain;
    border-radius: 100%;
    &:active { background-color: gray; }
}

#profile-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 30px;
    height: 30px;
    // margin-top: 7px;
    // background-color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // background-image: url('/assets/optionlink.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    &.active { box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.9); }
}

#container { position: relative; z-index: 1; }

.notice {
  background-color: #ffffcc;
  color: #444;
  text-align: center;
  .fontSize(14px);
  line-height: 40px;
  border: #EEE solid 1px;
}
/*=================================================== 3D HEADQUARTERS =========================================================*/

#poaster-cube-container {
  display: block;
  .doNotSelectAnything ();
  position: relative;
  // uncomment overflow to see result
  //overflow: hidden;
}

#poaster-cube {
  width: 100%;
  height: 100%;
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  display: block;
  position: absolute;
  
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);

  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  overflow-y:visible;
}

#poaster-cube .facade {
    display: block;
    position: absolute;
    box-shadow:  0px 0px 0px 1px #aaa;
    background: rgba(255, 255, 255, 0.8);
    color: #222;
    text-align: center;
    -webkit-backface-visibility: hidden;
    /* Momentum scroll: http://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
    overflow-y:scroll;
    // -webkit-overflow-scrolling: touch;


    > .title {
        font-size: 20px;
        text-align: center;
        color: white;
        line-height: 35px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4),0px 0px 24px rgba(0, 0, 0, 0.4);
        width: 100%;
    }
    &:nth-of-type(even) { background-color: #d1d0cd; }
    &:nth-of-type(odd) { background-color: #4a4e51; }
    &:before {
      content: '';
        position: absolute;
        // z-index: 1;
        top: 0; right: 0; bottom: 0; left: 0;
        background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.2) 15%, rgba(162,162,162,0) 50%, rgba(255,255,255,0.13) 70%, rgba(255,255,255,0.2) 80%, rgba(255,255,255,0) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(15%,rgba(0,0,0,0.2)), color-stop(50%,rgba(162,162,162,0)), color-stop(70%,rgba(255,255,255,0.13)), color-stop(80%,rgba(255,255,255,0.2)), color-stop(90%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.2) 15%,rgba(162,162,162,0) 50%,rgba(255,255,255,0.13) 70%,rgba(255,255,255,0.2) 80%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  rgba(0,0,0,0.2) 15%,rgba(162,162,162,0) 50%,rgba(255,255,255,0.13) 70%,rgba(255,255,255,0.2) 80%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.2) 15%,rgba(162,162,162,0) 50%,rgba(255,255,255,0.13) 70%,rgba(255,255,255,0.2) 80%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(45deg,  rgba(0,0,0,0.2) 15%,rgba(162,162,162,0) 50%,rgba(255,255,255,0.13) 70%,rgba(255,255,255,0.2) 80%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

.shareative {
    position: relative;
    z-index: 1;
    > #media-title {
        border-bottom: 2px solid #827E7E;
        border-radius: 2px;
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: visible;
        width: 100%;
        height: 100%;
        > .title {
            font-size:24px;
            text-align: center;
            color: #fff;
            margin: 5px 0 0px 0;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4),0px 0px 24px rgba(0, 0, 0, 0.4);
            // -webkit-font-smoothing: antialiased;
            .textOverflow();
            position:absolute;
            left:15px;
            bottom:15px;
            padding-bottom:15px;
        }
    }
    
}
.tapped{
  -webkit-animation: 1s tap_highlight;
}

@-webkit-keyframes tap_highlight {
  0% {
    border: 4px solid #827E7E;
  }

  15% {
    border: 4px solid yellow;
  }

  100% {
    border: 4px solid #827E7E;
  }  
}

#pagination {
  text-align: center;
   > a {
     &.currentFacade { color: red; }
   }
}


/*=========================================================== PROFILE VIEW ===========================================*/
#profile-view, #change-password-view, #explanation-view {
    z-index: 2;
    -webkit-transform: translate3d(0px,-1200px,0px);
    position: absolute;
    -webkit-transition: -webkit-transform 0.4s;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    #profile_header {
        background: #F0F0F0;
        box-sizing: border-box;
        padding: 12px;
        text-shadow: 1px 1px 0px #FFF;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

#explanation-view {
  text-align: right;
  padding: 20px;
  #explanation {
    text-align: left;
    margin-top: 20px;
    > strong {
      display: block;
      margin-bottom: 20px;
      font-weight: normal;
      text-transform: uppercase;
    }
    > p {
      color: #666;
      font-weight: normal;
      font-family: 'helvetica neue', 'segoe ui';
      line-height: 22px;
    }
  }
}


/*profile buttonify*/
#profile-view .buttonify{
  box-sizing: border-box;
  background: #fff;
  padding: 4px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  color: #101010;
}

/*clearfix it*/
  #profile_header:before,
  #profile_header:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  #profile_header:after {
      clear: both;
  }
/*profile header image*/
#profile_header #profile_image_wrapper {
  float: left;
  width: 50px;
  height: 50px;
  padding: 4px;
}
#profile_header #profile_image {
    background-image: url('/assets/optionlink.jpg');
    height: 100%;
    // width: 100%;
    // padding-bottom: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    > input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
}
/*profile header list*/
#profile_header ul {
  width: 94%;
  float: right;
}
  /*clearfix it*/
  #profile_header ul:before,
  #profile_header ul:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  #profile_header ul:after {
      clear: both;
  }
/*profile header list items*/
#profile_header li{
  width: 49%;
  margin-right: 1.5%;
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
  /*testing*/
  box-sizing:border-box;
  border-right: 1px solid #efefef;
  color: #444;
}
  #profile_header li:last-child{
    margin-right: 0;
    border-right: none;
  }
/*profile header typography*/
#profile_header h2,
#profile_header h3 {
  margin: 0;
}
#profile_header h2 {
  font-size:1.4em;
}

/*
** props
*/
#profile_header #props_item.buttonify {
  background: #9dbf3b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9DBF3B), color-stop(100%, #8CAC2E));
  background: -webkit-linear-gradient(top, #9DBF3B, #8CAC2E);
  background: -moz-linear-gradient(top, #9DBF3B, #8CAC2E);
  background: -o-linear-gradient(top, #9DBF3B, #8CAC2E);
  background: linear-gradient(top, #9DBF3B, #8CAC2E);
  background-color: #7DB500;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 0px 0px 0px 1px #7DB500;
  color: #FFF;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
  cursor: pointer;
}
#profile_header #props_item.toggled {
  background: #9dbf3b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383838), color-stop(100%, #494949));
  background: -webkit-linear-gradient(top, #383838, #494949);
  background: -moz-linear-gradient(top, #383838, #494949);
  background: -o-linear-gradient(top, #383838, #494949);
  background: linear-gradient(top, #383838, #494949);
  background-color: #444;
  box-shadow: inset 0px 0px 12px rgba(0,0,0,0.7), 0px 1px 2px rgba(0,0,0,0.1), 0px 0px 0px 1px #444;
}
#profile_header #props_item.toggled h2,
#profile_header #props_item.toggled h3 {
  color:#d0d0d0;
  text-shadow:-1px -1px 1px rgba(0,0,0,0.5);
}
#props_item h2, #props_item h3 {
  color: #FFF;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.2);
}
#profile_header h3 {
  font-size: 12px;
}
  #props_item #new_props {
    display:none;
    position: absolute;
    right: -6px;
    bottom: -6px;
    height: 20px;
    line-height: 20px;
    font-size: 0.875em;
    width: 20px;
    background: rgba(219,50,19,0.97);
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.2);
    box-shadow:0px 0px 0px 2px rgba(255,255,255,0.7), 1px 1px 8px rgba(0,0,0,0.6);
    border-radius: 50%;
  }
  #props_item #new_props.true {
    display:block;
  }

#profile_content {
  display:border-box;
  padding:0px 12px;
  -webkit-transition:-webkit-transform 0.5s;
  -webkit-transform: translate3d(0,0,0);
  overflow-y: scroll;
  overflow-x:hidden;
}
.profile_container {
  margin-bottom:  12px;
}

/* social accounts */
#profile_accounts {
  margin-top:12px;
}
#profile_accounts.buttonify {
  padding: 0px 4px;
}
#profile_accounts .profile_social {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin:4px 4px;
  padding: 4px 0px;
  display: block;
  // height: 30px;
  line-height: 30px;
  color: #7f7f7f;
  cursor: pointer;
}
#profile_accounts .profile_social .status {
  -webkit-user-select: none;
   -webkit-user-drag: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   display: inline-block;
   height: 30px;
   width: 30px;
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center;
   float: right;
}
#profile_accounts .profile_social.active .status {
   background-image: url('/assets/check.png');
}
#profile_accounts .profile_social.active {
  pointer-events: none;
  color: #101010;
}
#profile_accounts .profile_social:first-child {
  padding-top: 8px;
}
#profile_accounts .profile_social:last-child {
  border-bottom: none;
  padding-bottom:8px;
}
#profile_accounts .social_logo {
   -webkit-user-select: none;
   -webkit-user-drag: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   display: inline-block;
   height: 30px;
   width: 30px;
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center;
   border-radius:50%;
   float: left;
   margin-right: 12px;
   opacity:0.8;
   z-index: 1;
   /* cross-browser grayscale */
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
#profile_accounts .active .social_logo {
  opacity:1;
  /* cross-browser grayscale DISABLE */
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  -webkit-filter: grayscale(0%);
}


  #profile_accounts #profile_facebook_btn, #facebook_btn {
    background-image:url('/assets/facebook.png');
  }
  #profile_accounts #profile_twitter_btn, #twitter_btn {
    background-image:url('/assets/twitter.png');
  }
  #profile_accounts #profile_linkedin_btn, #linkedin_btn {
    background-image:url('/assets/linkedin.png');
  }
  #profile_accounts #profile_google_btn, #google_plus_btn {
    background-image:url('/assets/google-plus.png');
  }
  #profile_accounts #social_logo_em, #email_btn {
    background-image:url('/assets/mail.png');
  }
/*props container*/
#props_container {
    display: none;
    position:absolute;
    -webkit-transform: translateX(100%) translateZ(9px);
    background: rgba(0,5,0,0.8);
    box-sizing: border-box;
    padding: 12px;
    z-index:9;
    overflow-y: scroll;
    overflow-x:hidden;
}
#props_container.initialized {
  -webkit-transition: -webkit-transform 0.5s;
}
#props_container ul#props {
  padding: 0;
  list-style: none;
  color: white;
}
#props_container ul#props li {
  background: rgba(0,5,0,0.5);
  box-sizing: border-box;
  padding:8px 12px;
  box-shadow:inset 1px 1px 4px rgba(0,0,0,0.9);
}
#props_container ul#props li.new_prop {
  background:rgba(255,255,255,0.2);
}

/*account items*/
#profile_help {
    display: block;
    .profile_item {
        display: block;
        margin:4px 4px;
        padding: 4px 0px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }
    #help_icon{
        -webkit-user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        display: inline-block;
        height: 30px;
        width: 30px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius:50%;
        float: left;
        margin-right: 12px;
        background-image: url('/assets/info.png');
    }
}

#profile_account_items{ text-align: center; }

#profile_password, #logout_btn {
    display: inline-block;
    margin: 0;
}
#profile_password > .btn { padding: 4px 8px; }
#logout_btn { width: 35%; .fontSize(14px) }

/*=========================================== SHARING VIEW ============================================================*/
/**
 * SHAREATIVE
 */
#shareative_view{
    display: none;
    // opacity: 0;
    text-align: center;
    position: fixed;
    top: 25px;
    z-index:99;
    // background-color: #F0F0F0;
    overflow:hidden;
    border: none;
}
#shareative_content{
    position: absolute;
    display: block;
    top:50px;
}

/**
* SHARING
*/
#sharing_view{
    /*position: absolute;*/
    position: fixed;
    top: 25px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:999;
    display: block;
    text-align: center;
    background-color: rgba(255,255,255,0.95);
    -webkit-transform:translate3d(100%,0px,0px);
    -webkit-transition:-webkit-transform 0s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#sharing_view.sharing_view_open{
    -webkit-transform:translate3d(0px,0px,0px);
}
#sharing_view.sharing_view_transition{
    -webkit-transition:-webkit-transform 0.5s;
}
#sharing_message{
    width: 90%;
    height: 20%;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    padding: 12px;
}
#sharing_image {
    background-position: center;
    background-size: cover;
    height: 0;
    margin: 25px auto 8px;
    width: 25%;
    padding-bottom: 25%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /* box shadow */
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7), 0px 0px 0px 4px rgba(40, 40, 40, 0.1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7), 0px 0px 0px 4px rgba(40, 40, 40, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7), 0px 0px 0px 4px rgba(40, 40, 40, 0.1);
}

#sharing_menu_cancel_btn, #back_btn {
  position: absolute;
  top: 8px;
  left: 8px;
}
#share_btn, #sharing_menu_btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

#client_brand{
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* SOCIAL BUTTONS in SHARING VIEW */
.social_button{
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
  /*width: 33px;
  height: 33px;
  margin:0px 5px 0px 5px;*/
  opacity:0.8;
  background-position: center;
  /* dynamic width */
  width: 12%;
  padding-bottom: 12%;
  height: 0px;
  margin:0px 2%;
  border-radius: 50%;
  /* cross-browser grayscale */
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

  background-size:cover;
}
.social_button {
  &.selected {
     opacity:1;
    /* box shadow */
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7), 0px 0px 0px 4px rgba(40, 40, 40, 0.1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7), 0px 0px 0px 4px rgba(40, 40, 40, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7), 0px 0px 0px 4px rgba(40, 40, 40, 0.1);
    /* cross-browser grayscale DISABLE */
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
  }
  &.notSelected {
    display: none;
    pointer-events: none;
  }
}


/**
 * Sharing confirmation
 */
#sharing_confirmation_message{
  width: 100%;
  height: 100%;
  /*background-color: white;*/
  font-size:24px;
  opacity: 0;
  position: absolute;
  z-index:-1;
  /*pointer-events:none;*/
  padding-top: 25%;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9DBF3B), color-stop(100%, #8CAC2E));
  background: -webkit-linear-gradient(top, #9DBF3B, #8CAC2E);
  background: -moz-linear-gradient(top, #9DBF3B, #8CAC2E);
  background: -o-linear-gradient(top, #9DBF3B, #8CAC2E);
  background: linear-gradient(top, #9DBF3B, #8CAC2E);
  background-color: #7DB500;
  border-color: #5A8200;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}

/* BRAND WATERMARK */
#client_brand_watermark_wrapper {
  
}

/*   FLIP EFFECT */
.rotate-full {
  -webkit-animation: flip 1s ease-in-out;
  -moz-animation: flip 1s ease-in-out;
  -ms-animation: flip 1s ease-in-out;
  -o-animation: flip 1s ease-in-out;
  animation: flip 1s ease-in-out;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}