/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require login.css
 *= require app.css
 *= require login.css
 *= require shareative.css
 *= require media-queries.css
 */

.note {
	text-align:center;
	font-size:14px;
	font-weight:normal;
	margin-top:2px;
}

#changePasswordNotice {
	width: 90%;
	margin: auto;
	display: block;
	margin-top: 5px
}