@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";

/* getting rid of yello boxes */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

#authentication {
    margin: 40px auto 20px;
    padding: 2%;
}

#authentication input[type="text"],
#authentication input[type="password"] {
  font-family: @centuryFontFamily;
  width: 90%;
  display: block;
  margin: 0 auto 25px auto;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  padding: 12px;
  color: black;
}

#logo-home {
    display: block;
    margin: auto;
}
#signInBtn {
  width: 90%;
  margin: auto;
  display: block;
  height: 40px;
  padding: 4px 0;
}

.bottomLink {
  text-align: center;
  margin: 20px auto;
  > a { color: #444; }
}

#error {
  position: fixed;
  top: 0;
  width: 100%;
  // height: 45px;
  background-image: url('/assets/error-bg.png');
  background-size: contain;
  color: white;
  text-align: center;
  line-height: 45px;
  text-shadow: 0 1px 1px #000;
  font-family: @sansFontFamily;
  .fontSize(14px);
}

#poaster_brand_auth {
    display: block;
    margin: 15px auto;
}
.new_user > input {
    margin-bottom: 15px;
}