@media screen {

    // MAX WIDTH - 320
    @media (max-width: 320px) {
        #status-bar { display: block; }
        #profile-btn { margin-top: -10px }
        #header {  /* ruleset inside nested media - top level extend works */
            top: 20px;
        }
        #reload { top: 27px; }
        // .stage-viewport { margin-top: 25px; }

        // Profile View
        #profile_header ul { width: 80%; }
    }

    @media (max-width: 970px) and (min-width: 880px) {
        #profile_header ul { width: 94%; }
    }
    @media (max-width: 860px) and (min-width: 700px) {
        #profile_header ul { width: 92%; }
    }
    @media (max-width: 700px) and (min-width: 320px) {
        #profile_header ul { width: 80%; }
    }
    @media (max-device-width: 320px) {
        #profile-btn {
            top: 17px;
        }
    }
}