@import "global/_reset.less";
@import "global/_variables.less";
@import "global/_functions.less";
@import "global/_mixins.less";

/* max-width container */
#shareative_wrapper {
    max-width: 640px;
    margin: 8px;
    #instruction {
        text-align: center;
        margin-top: 10px;
        #swipe-instruction {
            padding: 10px;
            font-family: @centuryFontFamily;
            color: black;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}
@media (min-width:656px) {
    #shareative_wrapper {
        margin: 8px auto;
    }
}

/* content = primary content */
.shareative_content {
    width: 100%;
    display: block;
    position: relative;
}
/* info = secondary content */
.shareative_info {
    position: relative;
    width: 100%;
    margin-top: 12px;
}
/* shareative client_brand */
#client_brand_watermark_wrapper {
    width: 100%;
    text-align: center;
    margin-top: 64px;
}
/* grayscale logo */
#client_brand_watermark {
    width: 50%;
    max-width: 300px;
    /* cross-browser grayscale */
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    opacity: 0.2;
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    /* invert dark on light */
    -webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) gray;
    margin: auto;
}



/*

absolute spacing fix (% padding technique)

*/

/* parent (contains .abs_bg element) */
.abs_parent {
    width: 100%;
    padding-bottom: 100%;
    height: 0px;
}
/* background image (is inside an .abs_parent element) */
.abs_bg {
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // padding: 24px; // Uncomment if this breaks anything
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}



/*

video

*/

/* video player */
#video_player{
    width: 100%;
    display: none;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    background: #fff;
    position: absolute;
    top: 25%;
}
/* show player on click of banner */
#video_player.active {
    display: block;
}
/* video banner (the "pre-click" preview) */
// #video_banner {
//     cursor: pointer; /* for desktop experience only */
//     &.nopseudo::before { content: ''; margin: 0; width: 0; height: 0; border: none; }
//     &.nopseudo::after { content: ''; border: none; }
// }

/* play button (circle = ::before and triangle = ::after) */
// #video_banner::before,
// #video_banner::after {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
// }
/* play button circle */
#video_banner::before {
    // margin-top: -44px;
    // margin-left: -44px;
    // width: 80px;
    // height: 80px;
    // background: rgba(50,50,50,0.5);
    // border:4px solid rgba(255,255,255,0.2);
    // -webkit-border-radius: 50%;
    // -moz-border-radius: 50%;
    // border-radius: 50%;
    /*-webkit-box-shadow:  0px 0px 24px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 24px 0px rgba(0, 0, 0, 0.3);*/
}
/* play button play icon */
// #video_banner::after {
//     margin-top: -20px;
//     margin-left: -10px;
//     width: 0;
//     height: 0;
//     border-top: 20px solid transparent;
//     border-bottom: 20px solid transparent;
//     border-left: 30px solid rgba(255,255,255,0.5);
// }
//     /* interaction */
//     #video_banner:hover::before {
//         background: rgba(10,10,10,0.5);
//     }
//     #video_banner:hover::after {
//         border-left-color: rgb(255,255,255);
//     }



/*

flip

*/

#flip_wrapper, #video_wrapper { display: none; }
/* entire container, keeps perspective */
#flipper_container {
    -webkit-perspective: 1000;
    perspective: 1000;
    z-index: 9;
    position: relative;
}
    /* flip pane on load */
    #flipper_container.entrance #flipper {
        /*-webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);*/
    }
    /* flip when hovered */
    /*#flipper_container:hover .flipper, */
    /* flip when clicked */
    #flipper_container.toggle_flip #flipper {
        /*-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);*/
    }

/* flip speed */
#flipper {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    /* IMPORTANT */
    padding-bottom: 100%;
}
#flipper .flip_side {
    z-index: 9; /* important to rotate over the content below it */
    cursor: pointer;
}
#flip_side_front,
#flip_side_back {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* front pane, placed above back */
#flip_side_front {
    z-index: 2;
}
/* back, initially hidden pane */
#flip_side_back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    .flip_side_back_data {
        padding: 24px;
        > h1, > p {
            text-align: left;
            color: #444;
        }
        > h1 { font: bold 32px/36px @sansFontFamily; margin-bottom: 20px; }
        > p {
            font: normal 13px/20px @sansFontFamily;
        }
    }
}