<div id="authentication">
    <%= flash[:error] %>
        <%= form_tag create_password_path ,method: :post do %>
        <%= password_field_tag 'password_options[old_password]' ,nil,:placeholder => "Old Password" %>
        <%= password_field_tag 'password_options[password]' ,nil,:placeholder => "New Password" %>
        <%= password_field_tag 'password_options[password_confirmation]' ,nil,:placeholder => "Confirm Password" %>
        <%= submit_tag 'Change Password', :class => 'btn btn-pos btn-big', :id => 'signInBtn' %>
    <%end%>
    <div id="forgotPassword" class="bottomLink">
        <a href="#" id="cancel-change-password">Cancel</a>
    </div>
    <br>
    <div id="changePasswordNotice" class="notice"></div>
</div>