<a id="cancel-explanation-view" class="btn btn-neut btn-back">Close</a>
<div id="explanation">
    <strong>Poast</strong>
    <p>A Poast is the amount of times you have shared to any of your social networks</p>
    <br>
    <br>
    <strong>Average Poast</strong>
    <p>Average Poast is the average number of shares throughout your Poaster Network</p>
</div>