<% if flash[:alert].present? %>
<div class="messageWrapper clearfix">
  <div class="messageIcon"><span class="entypo-attention"></span></div>
  <div class="alertBox">
     <ul class="alertList">
        <li><%= flash[:alert] || flash_message %></li>
     </ul>
  </div>
</div>
<%end%>
