<div id="profile_header">
    <div id="profile_image_wrapper" class="buttonify">
        <div id="profile_image" style="background-image: url('<%= current_user.profile.url(:forty_two) %>');">
            <input type="file" name='user[profile]' id='profile' class='profile' />
        </div>
    </div>
    <ul id="profile_stats">
        <li class="buttonify" id="totalPoasts"><h2>10</h2><h3>Poasts</h3></li>
        <li class="buttonify" id="averagePoasts"><h2>?</h2><h3>Credits</h3></li>
    </ul>
</div>
<div id="profile_content">
    <div id="profile_accounts" class="profile_container buttonify">
        <a id="facebook" class="profile_social" href="/auth/facebook" data-remote=true><span id="profile_facebook_btn" class="social_logo facebook_active" style="-webkit-transform: translateZ(0px);"></span>Facebook<span class="status other"></span></a>
        <a id="twitter" class="profile_social" href="/auth/twitter" data-remote=true><span id="profile_twitter_btn" class="social_logo twitter_active" style="-webkit-transform: translateZ(0px);"></span>Twitter<span class="status other"></span></a>
        <a id="linkedin" class="profile_social" href="/auth/linkedin" data-remote=true><span id="profile_linkedin_btn" class="social_logo linkedin_active" style="-webkit-transform: translateZ(0px);"></span>LinkedIn<span class="status other"></span></a>
    </div>

    <a href="mailto:poaster.mobi?subject=General Help&body=Hello Poaster, %0D%0A%0D%0ARegards,%0D%0APoaster Team%0D%0Ainfo%40poaster.me" id="profile_help" class="profile_container buttonify">
        <span class="profile_item"><span id="help_icon" class="profile_icon"></span>Help</span>
    </a>

    <div id="profile_account_items" class="profile_container">
        <div id="profile_password">
            <div id="change_password_btn" class="btn">Change Password</div>
        </div>

        <%= link_to "Log Out",destroy_user_session_path, :class=> 'sign-out btn btn-pos', :id=>"logout_btn", method: :delete %>
    </div>
</div>

<style type='text/css'>
  span.loader {
    background-image: url('/assets/ajax_loader.gif');
  }
</style>
<!-- a hidden image to ensure that image is loaded bang on time -->
<img src='/assets/ajax_loader.gif' style='display:none'/>
<%= javascript_tag do %>
$(document).ready(function(){
  $('body').on('change','input#profile',function(event){
    event.preventDefault();
    console.log('file input for profile image triggered');
    console.log('selected');
    // Creating Loader while image is uploaded
    $('#profile_image').css({ backgroundImage: 'url(/assets/loader.gif)' });
    make_ajax_request('#profile_image', '#profile-btn');
  })

  $("div#profile_accounts").on("ajax:beforeSend","a.profile_social",function(xhr, settings){
    $(this).find('span.other').addClass('loader');
  }).on("ajax:complete","a.profile_social",function(xhr, status){
    $(this).find('span.other').removeClass('loader');
  })
 })


function make_ajax_request(bigPic, smallPic) {
  // Obtain the read file data
  var fd = new FormData();
  fd.append( 'user[profile]', $('input:file')[0].files[0]);
  $.ajax({
    url: '/users/picture.json',
    processData: false,
    contentType: false,
    type: 'post',
    data: fd,
    success: function(data) {
      console.log(data);
      console.log('Successful Ajax Call');
      $(bigPic).css({ backgroundImage: 'url('+ data.big_pic +')' });
      $(smallPic).css({ backgroundImage: 'url('+ data.small_pic +')' });
    },
    error: function(data) {
      console.log('error occcured while uploading profile image');
      console.log(data);
    },
    complete: function() {
      var file = $('input:file')
      $(file).replaceWith( file = file.clone( true ) );
    }
  });
}


<%end%>
