<!DOCTYPE html>
<html>
<head>
    <title>Poaster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <!-- <meta name="mobile-web-app-capable" content="yes"> -->
    <meta name="apple-mobile-web-app-title" content="Poaster">
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <link rel="apple-touch-icon" href="/assets/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/touch-icon-iphone-retina.png">
    <link media="(device-width: 320px)" rel="apple-touch-startup-image" href="/assets/apple-touch-startup-image-320x460.png">
    <link href="/assets/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Erroception Tracking Script -->
    <script>
      (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
      c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
      c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
      _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
      (window,document,"script","534c04e656d0a26125000003");
    </script>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div id="status-bar"></div>
  <div id="header">
    <div class="container">
      <a id="profile-btn" style="background-image: url('<%= current_user.profile.url(:thirty) %>');"></a>
      <img src="/assets/logo.png" alt="Poaster" id="logo">
    </div>
  </div>
  <div id="profile-view">
    <%= render partial: 'profile-view' %>
  </div>
  <div id="change-password-view">
    <%= render partial: 'change-password-view' %>
  </div>
  <!-- <div id="explanation-view">
    <#%#= render partial: 'explanation-view' %>
  </div> -->
  <%= yield %>
  <img src='/assets/facebook.png' style='display:none'/>
  <img src='/assets/facebook_grey.png' style='display:none'/>
  <img src='/assets/twitter.png' style='display:none'/>
  <img src='/assets/twitter_grey.png' style='display:none'/>
  <img src='/assets/linkedin.png' style='display:none'/>
  <img src='/assets/linkedin_grey.png' style='display:none'/>
  <%= render 'footer' %> 
</body>
</html>