<!DOCTYPE html>
<html>
<head>
    <title>Poaster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Poaster">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/assets/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/touch-icon-iphone-retina.png">
    <link media="(device-width: 320px)" rel="apple-touch-startup-image" href="/assets/apple-touch-startup-image-320x460.png">
    <link href="/assets/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "shareative-application" %>
    <%= csrf_meta_tags %>
</head>
<body ontouchstart="" id="onlyShareative">
  <%= yield %>
</body>
</html>